DEVIN_API_KEY=cog_your_service_key_here
DEVIN_PERSONAL_KEY=apk_user_your_personal_key_here
DEVIN_ORG_ID=your_org_id_here
GITHUB_TOKEN=your_github_pat_here
GITHUB_REPO=acabreira/superset
POLL_INTERVAL_MS=60000
PORT=3000
